/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    width: 100%;                        /* LARGURA */
    height: 4rem;                       /* ALTURA */
    position: fixed;                    /* POSIÇÃO FIXA */
    top: 0;                             /* DISTANCIA DO TOPO */
    display: flex;                      /* disposição flex (permite linha ou bloco, e alinhamento atraves do justify-content e align-content) */
    justify-content: space-between;     /* ALINHAMENTO HORIZONTAL - ESPAÇO ETRE OS ELEMENTOS */
    padding: 0 2rem;                    /* MARGEM INTERNA */
    align-items: center;                /* ALINHAMENTO VERTICAL - CENTRALIZADO */
    background-color: #61788C;        /* COR DE FUNDO */
}

header div.thmDark{
    width: 3.1rem;                  /* LARGURA */
    height: 1.6rem;                 /* ALTURA */
    background-color: #161618;    /* COR DE FUNDO */
    border-radius: 1rem;            /* BORDA ARREDONDADA */
    padding: 0.2rem;                /* MARGEM INTERNA */
    cursor: pointer;                /* CURSOR */
}

header div.thmDark div.circle{
    display: inline-block;          /* DISPOSIÇÃO EM LINHA-BLOCO */
    width: 1.2rem;                  /* LARGURA */
    height: 1.2rem;                 /* ALTURA */
    border-radius: 50%;             /* BORDA ARREDONDADA */
}

.firstCircle{
    background-color: rgb(255, 208, 0);     /* COR DE FUNDO */
    animation: 0.4s ease forwards;            /* ANIMAÇÃO */
}

.firstCircle-position{
    position: absolute;                 /* POSIÇÃO ABSOLUTA */
    right: 2.3rem;                      /* DISTÂNCIA DA DIREITA */
}

@keyframes toRight {
  0%  {transform: translateX(0); }              /* POSIÇÃO INICIAL DA ANIMAÇÃO */
  100%   { transform: translateX(100%); }       /* POSIÇÃO FINAL DA ANIMAÇÃO */
}
@keyframes toLeft {
  0%  {transform: translateX(100%); }           /* POSIÇÃO INICIAL DA ANIMAÇÃO */
  100%   { transform: translateX(0%); }         /* POSIÇÃO FINAL DA ANIMAÇÃO */
}

.secondCircle{  
    display: inline-block;          /* DISPOSIÇÃO EM LINHA-BLOCO */
    width: 1rem;                    /* LARGURA */
    height: 1rem;                   /* ALTURA */
    border-radius: 50%;             /* BORDA ARREDONDADA */
    position: absolute;             /* POSIÇÃO ABSOLUTA */
    right: 2.7rem;                  /* DISTÂNCIA DA DIREITA */
    background-color: #161618;    /* COR DE FUNDO */
    transition-duration: 0.01s;     /* DURAÇÃO DA TRANSIÇÃO */
}

header h1{
    text-align: center;         /* TEXTO CENTRALIZADO */
}

header a{
    text-decoration: none;      /* SEM DECORAÇÃO DE TEXTO */
    font-weight: bolder;        /* PESO DA FONTE */
    font-size: 2rem;           /* TAMANHO DA FONTE */
    color: black;           /* COR DO TEXTO */
}

main{
    margin-top: 5rem;           /* MARGEM SUPERIOR */
}

footer{
    width: 100%;                /* LARGURA */
}

footer p{
    text-align: center;         /* ALINHAMENTO DE TEXTO - CENTRALIZADO */
}