/* DIV CRIAR TAREFRA */
main div.criar-tarefa{ 
    margin: 0 auto;             /* MARGEM */
    display: flex;              /* disposição flex (permite linha ou bloco, e alinhamento atraves do justify-content e align-content) */
    flex-direction: column;     /* DISPOSIÇÃO EM COLUNA */
    justify-content: center;    /* ALINHAMENTO HORIZONTAL - CENTRALIZADO */
}
div.criar-tarefa label{
    display: block;         /* DISPOSIAÇÃO EM BLOCO, PARA OCUPAR TODA LINHA */
    width: 40%;             /* largura dos inputs */
    margin: 0 auto;       /* MARGEM */
}

/* ESTILIZAÇÃO INPUT*/
div.criar-tarefa input{
    display: block;         /* DISPOSIAÇÃO EM BLOCO, PARA OCUPAR TODA LINHA */
    margin: 0.5rem auto;       /* MARGEM */
    width: 40%;             /* largura dos inputs */
    min-height: 2rem;       /* ALTURA MÍNIMA DE 2REM */
    padding: 0 1.8rem;        /* MARGEM INTERNA, PARA DIREITA E ESQUERDA (RIGTH AND LEFT) */
    border: solid 2px transparent;      /* ESTILO DE BORDA */
    border-radius: 0.5rem;    /* ARREDONDAMENTO DAS BORDAS */
    font-family: 'Besley', serif;   /* FONTE */
    font-weight: 600;       /* PESO DA FONTE */
    outline: none;          /* SEM OUTILINE, QUANDO O ELEMENTO ESTÁ EM FOCO, NÃO FICA ACAIXA PRETA EM VOLTA */
    background-color: #A8B5BF;      /* COR DE FUNDO */
}

/* BUTTON */
main div.criar-tarefa button{
    width: 2rem;        /* LARGURA DO BOTÃO */
    height: 2rem ;          /* ALTURA*/
    margin: 0 auto;         /* MARGEM */
}
/* DIV TODOS OS CARDS */
div.todo-list{
    display: flex;                  /* disposição flex (permite linha ou bloco, e alinhamento atraves do justify-content e align-content) */
    justify-content: center;        /* ALINHAMENTO HORIZONTAL - CENTRALIZADO */
}
div.todo-list div.todo{
    display: flex;                  /* disposição flex (permite linha ou bloco, e alinhamento atraves do justify-content e align-content) */
    flex-direction: column;         /* DISPOSIÇÃO EM COLUNA */
    gap: 1rem;                      /* GAP - DISTÂNCIA ENTRE AS COLUNAS */
    margin: 1rem auto;              /* MARGEM */
}

/* DIV TO-DO (CARD) */
div.to-do-div{
    border-radius: 1rem;    /* BORDA ARREDONDADA */
    padding: 1rem;          /* MARGEM INTERNA */
    width: 100%;            /* LARGURA */
    min-height: 2rem;       /* ALTURA MINIMA */
    margin: 1rem auto;      /* MARGEM */
}

div.to-do-div p {
    opacity: 0.5;               /* OPACIDADE */
    font-size: 0.8rem;          /* TAMANHO DA FONTE */
    text-align: center;         /* ALINHAMENTO DE TEXO - CENTRALIZADO */
    display: inline-block;      /* DISPOSIÇÃO EM LINHA-BLOCO */
    margin: 0.4rem 1rem;        /* MARGEM */
}

div#todo div.to-do-div{
    background-color: #61788C;      /* COR DE FUNDO */
}

div#completed div.to-do-div{
    background-color: #253140;      /* COR DE FUNDO */
    color: rgb(245, 245, 245);      /* COR DO TEXTO */
    text-decoration: line-through;      /* TEXTO TACHADO */
}

div.to-do-div div.buttons{
    display: flex;              /* disposição flex (permite linha ou bloco, e alinhamento atraves do justify-content e align-content) */
    justify-content: center;    /* ALINHAMENTO HORIZONTAL - CENTRALIZADO */    
    flex-wrap: nowrap;          /* SEM QUEBRA DE LINHA */
}

div.buttons button{
    margin: 0.5rem 0.3rem 0;    /* MARGEM */
}